[[language]]
name = "markdown"
language-servers = ["typos-lsp"]

[language-server.typos-lsp]
command = "/opt/homebrew/bin/typos-lsp"

[[language]]
name = "typescript"
language-servers = ["typescript-language-server"]

[[language]]
name = "tsx"
language-servers = ["typescript-language-server"]

[[language]]
name = "javascript"
language-servers = ["typescript-language-server"]

[[language]]
name = "jsx"
language-servers = ["typescript-language-server"]

[language-server.typescript-language-server]
command = "node"
args = ["/Users/robray/.local/share/mise/installs/npm-typescript-language-server/5.1.3/lib/node_modules/typescript-language-server/lib/cli.mjs", "--stdio"]
